<h1>
  {{title}}
</h1>
<p>Imię i nazwisko:{{name}} {{surname}}</p>
<p>
  Address:{{adress}}
</p>
<p>
  Imię: {{name}}
</p>
<input [value]="name">
<p>
  Nazwisko: {{surname}}
</p>
<input #inputSurname [value]="surname" (keyup)="surname = inputSurname.value">
<p>
  Address: {{address}}
</p>
<input [(ngModel)]="address">